/********** Global ***********/
h1, h2, h3, a {
  font-family: 'Shadows Into Light', cursive;, sans-serif;
  font-weight: 400;
}

a {
  font-size: 1.3em;
}

p {
  font-size: 1.3em;
  color: #843900; /*dark brown*/
}


/*********** end Global ***********/



/*********** Body ***********/
body {
   background-image: url("http://hdwallpick.com/wp-content/uploads/2015/02/Christmas-Background.jpeg");
   background-size: 100% auto;
   font-family: 'Yanone Kaffeesatz', sans-serif;
}

::-moz-selection, ::selection { 
  background: #843900; /*brown*/
}

main {

}

#header-container {
  border-bottom: 20px solid  #c87800; /*brown*/
}

#footer-container, #main aside {
  border-top: 20px solid  #c87800; /*brown*/
}

#header-container, #footer-container, #main aside {
  background: #843900; /*dark brown*/
}

nav {
  float: right;
  width: 60%;
}

nav a {
  float: left;
  width: 18%;
  background-color: #c87800; /*brown*/
  margin-bottom: 0;
}

li > a {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }

fieldset {
  float: left;
}

label {
  font-size: 1.4em;
  color: #843900; /*dark brown*/
}


label > input{
  padding-bottom: 10px;
  font-size: .85em;
}

input::-webkit-input-placeholder {
  font-size: .85em;
}

input::-moz-placeholder {
  font-size: .85em;
}

input:-moz-placeholder {   /* Older versions of Firefox */
  font-size: .85em;
}

input:-ms-input-placeholder { 
  font-size: .85em;
}

input::-webkit-input-placeholder {
   font-size: .85em;
}

input::-moz-placeholder {
  font-size: .85em;
}

input:-moz-placeholder {   /* Older versions of Firefox */
  font-size: .85em;
}

input:-ms-input-placeholder { 
  font-size: .85em;
}

#autocomplete {
  width: 300px;
}


article {

}

#results {
  clear: both;
  display: block;
  text-align: center;
}

#results > img {
  margin: 10px;
  border: 2px solid #000000;
}

button {
	display: block;
}

button[type=submit] {
  font-size: 1.1em;
  font-weight: 700;
  margin: 10px 0;
  vertical-align: middle;
}

section {

}

aside p {
  color: #FFFFFF; /*white*/
}

aside#image {
  border: none;
  padding: 0;
}

aside#image img{
  width: 390px;
}

footer {
  position: static;
}

footer span {
  font-size: 1.1em;
}

footer p {
  font-size: 1em;
  margin-bottom: 0;
  color: #ffffff; /*white*/
}
/*********** end Body *********** /



/*********** Parsley ***********/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

li.parsley-required {
  color: #ff0000;
  font-weight: 700;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
/*********** end Parsley **********